
<h1>Order Details</h1>
<br>
<div><button class="btn btn-primary"(click)="orderCancel()" >Cancel Order</button></div>
<br>
<table border="1">
    <thead>
        <tr>
            
            <th>bookName</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>TotalPrice</th>
            <th>orderDate</th>
            <th>orderStatus</th>
            <th>select all</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderDetails">
            <td>{{ order.BookName }}</td>
            <td>{{ order.Units }}</td>
            <td>{{ order.UnitPrice }}</td>
            <td>{{ order.TotalPrice }}</td>
            <td>{{ order.OrderDate }}</td>
            <td>{{ order.OrderStatus }}</td>
            <td >
                <label *ngIf="order.OrderStatus =='OrderPlaced'" class="container">
                    <input type="checkbox"  [(ngModel)] ="order.IsCancled" />                     
                    <span class="checkmark"></span>
                </label>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div><button class="btn btn-primary" (click)="orderCancel()">Cancel Order</button></div>
