<h1>Place Order</h1>

<div *ngIf="isOrderPlaced">  

  <div>
        <button class="btn btn-primary" (click)="orderPlace()" >Submit Order</button> 
        </div>
        <br>

      <div *ngFor="let book of books">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{book.booksTitle}}</h5>
            <p class="card-text">Price :  ₹{{book.price}}</p> 
          <div>
            <p>
                Quantity
                <input type="number" readonly="readonly"  [(ngModel)]="book.units" #price value="1" min="1"   max="10" style="width:40px" name="Quantity" >
                Total Price :   ₹{{book.price * price.value}}
          </p>
        </div>    
      </div>
    </div>
    </div>
    <br>
    <div>
    <button  class="btn btn-primary" (click)="orderPlace()" >Submit Order</button> 

    </div>

</div>


